.container {
    display: flex;
  }
  
  .RegisteredUsers {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #bb1111;
  }
  
  .chat-box {
    flex: 2;
    padding: 20px;
    background-color: #6e851d;
  }
  
  /* Adjust the layout for smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .RegisteredUsers {
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding: 20px;
    }
  
    .chat-box {
      padding: 20px;
    }
  }
  